<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/navbar.ejs') %>
    <h1>Member List</h1>
    <button class="btn-add"><a href="/members/<%= page %>/add">Add New member</a></button>
    <% for (let i = 1; i <= totalPage; i++) { %>
        <button class="btn-page"><a href="/members/<%= i %>"><%= i %></a></button>
    <% } %>
    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        <% dataMembers.forEach((member, index) => { %>
            <tr>
                <td><%= offset + index + 1 %></td>
                <td><%= member.name %></td>
                <td><%= member.email %></td>
                <td><%= member.address %></td>
                <td><%= member.phone_number %> </td>
                <td><%= member.gender %> </td>
                <td><button class="btn-action"><a href="/members/edit/<%= member.id %>" class="a-button">Edit</a></button><button class="btn-action"><a href="/members/delete/<%= member.id %>" onclick="return confirm('Are you sure you want to delete this member data?')">Delete</a></button></td>      
            </tr>
        <% }) %>
    </table>
</body>
</html>